.simpleSummary {
    text-align: center;
    font-size: 20px;
}

.example {
    background: #ffffff;
    border: 2px solid #000000;
    padding: 25px;
    box-shadow: 8px 8px 0px #000;
    max-width: 50%;
    margin: auto;
}

.blank-word {
    color: #000000;
    font-weight: bold;
}

.transform-arrow {
    color: #000000;
    display: block;
    margin: 15px 0;
    font-family: 'Orbitron', sans-serif;
}

.steps {
    box-sizing: content-box;
    padding-left: 20%;
    margin: 15px 30px;
}