.CompletedMadlib {
    background-color: #fdf2f2; /* Off-white paper */
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.5);
    padding: 50px;
    max-width: 700px;
    margin: 50px auto;
    line-height: 2;
    position: relative;
}

.CompletedMadlib h2 {
    color: #000000;
    border-bottom: 3px solid #000000;
    margin-bottom: 30px;
}

.CompletedMadlib strong {
    color: #000000;
    background: rgba(100, 108, 255, 0.1);
    padding: 0 4px;
}