textarea {
    box-sizing: border-box;
    background-color: #050505;
    color: #00ff41; /* Terminal Green */
    border: 2px solid #333;
    font-family: 'Courier New', monospace;
    padding: 20px;
    box-shadow: inset 0 0 15px #000;
    outline: none;
    width: 100%;
    align-self: center;
}

textarea:focus {
    border-color: #00ff41;
    box-shadow: inset 0 0 10px #000, 0 0 15px rgba(0, 255, 65, 0.2);
}