textarea {
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #333;
    font-family: 'Courier New', monospace;
    padding: 20px;
    outline: none;
    width: 100%;
    align-self: center;
}

textarea:focus {
    border-color: #000000;
    box-shadow: inset 0 0 10px #000, 0 0 15px rgba(0, 0, 0, 0.2);
}