#root {
    width: 100%;
    padding: 2rem;
}

.layout {
    max-width: 1280px;
    margin: 0 auto;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}


.form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

input,
textarea,
select {
    max-width: 100%;
}

.description {
    padding: 0 20px;
}

.foot-notes {
    list-style-type: none;
    font-size: small;
    width: 85%;
}

.foot-notes li {
    margin-bottom: 5px;
}

.example {
    text-align: center;
}

.blank-word {
    text-decoration: underline;
    font-weight: bold;
}

.transform-arrow {
    font-size: large;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
}