@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lugrasimo&display=swap');


:root {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #fdfdfc; /* Deep space black */
    color: #000000;
}

h1, h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Allows the page to start at the top and scroll */
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-size: 12px; /* Add this line to change global text size */
    line-height: 100px;
}

/* Subtle scanline effect overlay */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 4px;
    z-index: 100;
    pointer-events: none;
    opacity: 0.3;
}